<html>
    <body>
    <table id="chessboard">
        <tr>
            <td class="border"></td>
            <td class="border">A</td>
            <td class="border">B</td>
            <td class="border">C</td>
            <td class="border">D</td>
            <td class="border">E</td>
            <td class="border">F</td>
            <td class="border">G</td>
            <td class="border">H</td>
            <td class="border"></td>
        </tr>
        <tr>
            <td class="border">8</td>
            <td class="squareB">
                <img class="piece" src="images/wKing.png">
            </td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="border">8</td>
        </tr>
        <tr>
            <td class="border">7</td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="border">7</td>
        </tr>
        <tr>
            <td class="border">6</td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="border">6</td>
        </tr>
        <tr>
            <td class="border">5</td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="border">5</td>
        </tr>
        <tr>
            <td class="border">4</td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="border">4</td>
        </tr>
        <tr>
            <td class="border">3</td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="border">3</td>
        </tr>
        <tr>
            <td class="border">2</td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="border">2</td>
        </tr>
        <tr>
            <td class="border">1</td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="squareW"></td>
            <td class="squareB"></td>
            <td class="border">1</td>
        </tr>
        <tr>
            <td class="border"></td>
            <td class="border">A</td>
            <td class="border">B</td>
            <td class="border">C</td>
            <td class="border">D</td>
            <td class="border">E</td>
            <td class="border">F</td>
            <td class="border">G</td>
            <td class="border">H</td>
            <td class="border"></td>
        </tr>
    </table>
    </body>
</html>