<html>
<body>
<div> Hello {{username}}</div>
    <div id="container-chat"> Chat
    <div class="chat">
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h3>Online Users</h3>
                    <ul class="list-group" id="users"></ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="chat" id="chat"></div>
                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea class="form-control" id="message"></textarea>
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Send Message" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>