<html>
<body>

<h1>Basic Chat App</h1>
<div id="chat-area">
    <div class="row">
        <div class="messages col-lg-6 well well-sm"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" placeholder="Message..." class="form-control"/><span class="input-group-btn">
          <button type="button" class="btn btn-default">Send</button></span>
            </div>
        </div>
    </div>
</div>

<form id="initial-form" class="form-inline">
    <div class="form-group">
        <label for="who-are-you">Who are you?</label>
        <input id="who-are-you" type="text" placeholder="Anonymous" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Start Chatting</button>
</form>

</body>
</html>