

<div class="container-fluid">
    <div class="row">

        <div class="sidebar-sticky col-md-2 d-none d-md-block bg-light" style="position: fixed">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                    </a>
                </li>
            </ul>

        </div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="height: 100%; overflow-y: scroll">

            <div class="row" style="min-width: 540px;"> 

                <div class="col-12 col-md-7">
                    <div class="card border-dark mx-auto text-center">
                        <div class="card-header">Games</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title">Dark card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title">Dark card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="card border-dark mx-auto text-center">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h5 class="card-title">Dark card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <div id="chatboxLobby" class="card border-dark text-center" style="position: fixed; bottom: 0px; right: 0px;">

            <div class="card-header">
                <div class="row">
                    <div class="col-9">
                        <p class="offset-md-1">Lobby Chat</p>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-primary" data-toggle="collapse" href="#chatboxCollapse" role="button" aria-expanded="false" aria-controls="chatboxCollapse">
                            <i class="fas fa-window-minimize"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div id="chatboxCollapse" class="collapse show">
                <div class="card-body" style="height: 400px">
                    <!--<h5 class="card-title">Dark card title</h5>-->
                    <p id="hiddenName" hidden>{{playerName}}</p>
                    <div>
                        <div id="gameChat" class="card-text message text-left" style="max-width:250px; height: 370px; overflow-y: scroll">
                            <!-- Chat messages to display here.-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <form class="send-message" id="gameMessageForm" method="post" action="/message">
                    <div class="input-group">
                        <label for="message"></label>
                        <input type="text" class="form-control" id="gameMessage"
                            placeholder="enter message here..." name="gameMessage" autocomplete="off">
                        <button type="submit" class="btn btn-primary" value="Send">Send</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
    
    

</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/sidebar.css"/>
<link rel="stylesheet" href="/stylesheets/chat.css"/>
<script src="/js/indexSocket.js"></script>