<html>
<body>
<div> Hello {{username}}</div>
<div id="container-game-list"> Games
    <div class="games-list">
        {{#each game}}
            <form method="get" action="/games/{{id}}">
                <div class="list">Game #{{id}}
                    <input type="submit" value="Join Game"/>
                </div>
            </form>
        {{/each}}
        <div class="list" id="gamesList"></div>
    </div>
</div>
    <div id="container-chat"> Chat
        <div class="col-md-4">
            <div class="well">
                <h3>Online Users</h3>
                <ul class="list-group" id="users"></ul>
            </div>
        </div>
        <div class="chat-box">
            <div class="chat" id="lobbyChat"></div>
        </div>
        <form class="send-message" id="lobbyMessageForm" method="post" action="/message" >
            <div class="form-group">
                <label for="message"></label>
                <input type="text" class="form-control" id="lobbyMessage"
                       placeholder="Enter message" name="message" autocomplete="off">
                <br/>
                <button type="submit" class="btn btn-primary" value="Send Message">Send Message</button>
            </div>
        </form>
    </div>
    <script src="/js/indexSocket.js"></script>
</body>
</html>