.sidebar-sticky {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    /*padding-top: .5rem;*/
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/ /* Scrollable contents if viewport is shorter than content. */
}
  
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
}
