#chessboard {
    margin-right: auto;
}

.chesscell{
    width: 80px;
    height: 80px;
}

.chesscell-squareB{
    background: #8b3507;
}

.chesscell-squareW{
    background: #fff5dd;
}

#chessboard .border{
    width: 10px;
    height: 10px;
    background: #8b2c03;
    text-align: center;
    color: white;
    font-size: 10px;
}

#chessboard .chessPiece{
    width: 80px;
    height: 80px;
    /*margin-left: auto;
    margin-right: auto;*/
}