.chesscell {
    width: 80px;
    height: 80px;
    min-width: 60px;
    min-height: 60px;
    max-width: 80px;
    max-height: 80px;
}

.chesscell-squareB{
    background: #8b3507;
}

.chesscell-squareW{
    background: #fff5dd;
}

.chessborder {
    
    width: 10px;
    height: 10px;
    background: #000000;
    
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.chesspiece:hover {
    /** background-image: url('/images/green_bg.svg'); */
    /** javascript is being used to manipulate these colors; */
}

.chessboard {
    width: 700px; 
    min-height: 700px;
}

.chessactions-card {
    min-width: 680px;
}

.chessactions-card-body {
    height: 600px;
    overflow-y: scroll;
}
